.App {
  text-align: center;
}

/* EXERCISE LIST STYLING */
.exercise_container {
  border: 3px solid blue;
  width: 80vw;
  margin: auto;
}

.exercise_reps {
  display: flex;
  align-items:center;

}

.exercise_title_block {
  display: flex;
  justify-content: space-around;
}

.exercise_extra_info {
  display: flex;
  justify-content: space-around;
}

/* FORM STYLING */
.form_title {
  text-align: left;
  margin-left: 10px;
  margin-bottom: 5px;
}

/* SINGLE EXERCISE */
i {
  color: blue;
  margin: 0 20px 10px;
}

i:hover {
  cursor: pointer;
}